html {
  /*background-color:#3d405B;*/ /*blue ish tone */
  background-color: #778DA9;/*#f2cc8f;*/
  color: #e0e1dd;
  font-family: 'Varela', sans-serif;
  padding: 0.01vmin 0.01vmin 0.01vmin 0.01vmin;
  /*font-size: 1vmin;*/
  text-align: justify;
}

body{
  background-color: #0d1b2a;
  border-color:#0d1b2a;
  border-width: 1vmin;
  border-style: solid;
  margin: 1vmin 1vmin 1vmin 1vmin;
  padding: 0.05vmin 0.05vmin 0.05vmin 0.05vmin;
}

.center-body{
  width:60vw;
  text-align:justify;
  margin: auto;
}

#top-links{
  font-weight: bold;
}

a{
  color: #e0e1dd;
}

.top-container{
  display: grid;
  height: 1vmin;
  align-content: space-evenly;
  grid-template-columns: auto auto auto;
}

.navigation{
  position: sticky;
  height: 7vmin;
  top: 0;
  z-index: 100;
  background-color: #0d1b2a;
  border-color:#0d1b2a;
  margin: -1vmin -1vmin -1vmin -1vmin;
  padding: 2vmin 2vmin 2vmin 2vmin;
}

.logo{
  text-align: right;
  font-weight:bold;
  font-size: 3vmin;
  padding-bottom: 2vmin;
}

.column{
  float: left;
  width: 50%;
  height: 40vmin;
}



/* Clear floats after the columns */
.row{
  content: "";
  display: table;
  margin: auto;
  clear: both;
}
/*Make the image fit the column width with "contain"*/
.larger-image{
  max-width: 95%;
  max-height: 40vmin;
  width: auto;
  height: 40vmin;
  border-radius: 2.5vmin;
  object-fit: cover;
}

.italics {
    font-style:italic;
}

.button {
	font-family: 'Fira Code', monospace;
	font-size: 1.5vw;
	font-weight: 500;
	display: inline-block;
	outline: 0;
	cursor: pointer;
	border: 3px solid black;
	border-radius: 3px;
	color: white;
	background: black;
	padding: 12px 20px;
	text-align: center;
	transition-duration: .15s;
	transition-property: all;
	transition-timing-function: cubic-bezier(.4,0,.2,1);
	margin: 0px 15px 15px 15px;
}

#right-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
}
@media (max-width: 320px) 
{
   html{
    font-size:30%;
   }
   .column{
    float: left;
    width: 100%;
    height: 30vmin;
  }
  
  /* Clear floats after the columns */
  .row{
    content: "";
    display: table;
    margin: auto;
    clear: both;
  }

  .larger-image{
    max-width: 100%;
    width: auto;
    height: 30vmin;
    border-radius: 5vmin;
    object-fit: contain;
  }
}

@media (min-width: 321px) 
{
   html{
    font-size:40%;
   }
}

@media (min-width: 540px) 
{
   html{
    font-size:50%;
   }
}

@media (min-width: 768px) 
{
   html{
    font-size:80%;
   }
}


@media (min-width: 1080px) 
{
   html{
    font-size:100%;
   }
}
